h1{
    font-size:60pt;
    color: #000;
    text-align: right;
    margin: 0px;
}

body{
    font-size: 12pt;
    color: #999;
    margin: 5px;
}

p{
    font-size: 14px;
    margin: 0px;
}

table tr td{
    background-color: rgb(197, 194, 194);
    color:#666;
    text-align: left;
    padding: 3px 10px;
}